<!DOCTYPE html>
<html>
    <head>
        <title>IFrame Tester</title>
        <script>
            function showStorageAccess() {
                document.hasStorageAccess().then(e=>{
                    if (e) {
                        document.getElementById('storageallowed').style = "";
                        document.getElementById('storagedenied').style = "display: none";
                    } else {
                        document.getElementById('storagedenied').style = "";
                        document.getElementById('storageallowed').style = "display: none";
                    }
                })
            }

            function init() {
                incStorage(sessionStorage, 'sessionstorage');
                incStorage(localStorage, 'localstorage');
                showStorageAccess();
            }

            function popMeUp() {
                window.open('/page/popup', 'popup');
            }

            function incStorage(storage, el) {
                var val = storage.getItem('testitem');
                if (val) {
                    document.getElementById(el).innerHTML=val;
                    val++;
                } else {
                    val = 1;
                }
                storage.setItem('testitem', val)
            }

            function clearStorage() {
                sessionStorage.clear()
                localStorage.clear()
                document.getElementById('sessionstorage').innerHTML = ''
                document.getElementById('localstorage').innerHTML = ''
            }

            function makeRequestWithUserGesture() {
                var promise = document.requestStorageAccess();
                promise.then(
                    function () {
                        alert('granted to storage access');
                        showStorageAccess();
                    },
                    function () {
                        alert('denied to storage access');
                        showStorageAccess();
                    }
                )
            }
        </script>
    </head>
    <body onload="init();">
        <div>
        <h2>Cookie Tester</h2>
        <div>
            Local Storage is: 
               <span id="storagedenied" style="display:none">Denied - <button onclick="makeRequestWithUserGesture()">Request Access</button></span>
               <span id="storageallowed" style="display:none">Allowed</span>
        </div>
        <p>Page tries to set cookie; If cookie is present, cookie value is incremented. Reload to see if cookies were set successfully.</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            
            {% for cookie in cookies %}
            <tr>
                <td>{{cookie[0]}}</td>
                <td>{{cookie[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div>
            <h2>Local Storage</h2>
            <p>Page tries to set local storage value; If value is present, it is incremented.</p>
            <p>Session Storage: <span id='sessionstorage'>No value found, trying to set it</span></p>
            <p>Local Storage: <span id='localstorage'>No value found, trying to set it</span></p>
            <button onclick="clearStorage();">Clear Local Storage</button>

        </div>
        <div>
            <button onclick="window.location.reload();">Reload page</button>
            <button onclick="popMeUp();">Pop me Up!</button>
        </div>
    </body>
</html>